/*
 * Root Nextflow config
 * - Includes shared defaults + resources
 * - Defines profiles (local/conda/docker)
 */

includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'

profiles {

  local {
    process.executor = 'local'
  }

  conda {
    process.executor = 'local'
    conda.enabled = true
    conda.useMamba = true
  }

  docker {
    process.executor = 'local'
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
}

/*
 * Prokka container rule (applies when docker is enabled, i.e. -profile docker)
 * Use withName because your process is named "Prokka"
 */
process {
  withName: 'Prokka' {
    container = 'staphb/prokka:1.14.6'
  }
}
