
// Manifest information
manifest {
    name            = 'WGS-Pipeline'
    author          = 'Your Name'
    description     = 'Whole genome sequencing pipeline with classification'
    mainScript      = 'Wgs.nf'
    version         = '1.0.0'
}

// Default parameters (can be overridden via command line)
params {
    help = false
    outdir = 'Results'
    max_cpus = 4
    max_memory = '6 GB'
    max_time = '48.h'
}

workDir = './work'

process {
  // sensible defaults
  errorStrategy = 'retry'
  maxRetries    = 2

  // optional: put global caps here if you want to enforce ceilings
  // cpus   = params.max_cpus
  // memory = params.max_memory
  // time   = params.max_time
}

// Timeline, report, and trace
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.png"
}