// nextflow.config for WGS pipeline with conda environment

// Process configuration
process {
    
    // Resource allocation per process
    withName: 'Fastqc' {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: 'Trim' {
        cpus = 1
        memory = '8 GB'
    }
    
    withName: 'Spades' {
        cpus = 1
        memory = '8 GB'
    }
    
    withName: 'Quast' {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: 'Prokka' {
        cpus = 1
        memory = '8 GB'
    }

    withName: 'BuildKrakenDB' {
        cpus = 4
        memory = '4 GB'
    }
    
    withName: 'Kraken2QuickID' {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: 'Flye' {
        cpus = 4
        memory = '6 GB'
    }
    
    withName: 'Kraken2Classify' {
        cpus = 1
        memory = '8 GB'
    }
}
